HTML, BODY { 
	height: 	100%;
	margin: 	5px;
	padding: 	5px; 

}

BODY {
	font: 		12px Arial,Helvetica,sans-serif;
	color: 		#000;
}

#menuebuttons {
max-width: 194px;
max-height: 124px;
}

A { color: #8c0d68; border: 0px; -moz-outline: none; }